<header>
    <div>
        <h1>Codeial</h1>
    </div>

    <div class="links">
        <% if (locals.user){ %>
            <div>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </div>
            <div>
                <a href="/users/sign-out">Sign Out</a>
            </div>
        <% }else{ %>

            <div>
                <a href="/users/sign-in">Sign In</a>
            </div>

            <div>
                <a href="/users/sign-up">Sign Up</a>
            </div>


        <% } %>
        </div>

</header>