header {
  background-color: #3F51B5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 40px; }
  header h1 {
    margin: 0; }
  header div {
    display: flex; }
    header div a {
      text-decoration: none;
      color: white;
      margin: 0 5px;
      font-weight: bold; }
